@use "variables" as v;
@use "reset" as r;
@use "mixins" as m;


// header //

header {
    background-color: v.$backgroundHeaderColor;
    nav{
            display: flex;        
            justify-content: space-between;
            align-items: center;

            img{
                max-width: 35%;
            }
            li{
                display: inline-block;
                a{
                    text-decoration: none;
                    color: v.$mainColor;
                }
            }
        }
}




// Variable global //


.container{
    margin: auto;
    max-width: 30rem;
    color: white;
}

.formInput {
    width: 100%;
    height: 40px;
}
.submitButton{
    background: v.$buttonColor;
    color: white;
    font-weight: bold;
}

#sectionWelcome .containers, #sectionSearch .containers{
    background-color: v.$backgroundMainColor;
    .wrapperImg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    .title{
        background-color: v.$colorGreyfaded;
        hr{
            width: 100px;
            border: solid 2px orange;
        }
    }
}}

#sectionWelcome .wrapperImg{
    background-image: url(../img/Lille-Seminaires.jpg);
}

#sectionSearch .wrapperImg{
    background-image: url(../img/Lille-Hall.jpg);
}


@media screen and (min-width : 997px) {
    .container {
        max-width: 120rem;

    }
    #sectionWelcome .container, #sectionSearch .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .wrapper{
            padding: 2rem;
        }
    }
}