@use "reset";
@use "variables" as v;
@use "mixin" as m;

header {
    background: v.$backgroundHeaderColor;
    .container{
        margin: auto;
    }
        nav {
            width: 100%;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
                img {
                    width: 150px;
                }
                ul {
                    display: flex;
                    li {
                    margin: 0 0.2rem;
                    list-style-type: none;
                    font-size: v.$fontSizedefault;
                    a {
                    text-decoration: none;
                    }
                    }
                }
            }
}

header{
    background: v.$backgroundHeaderColor;
    .container{
        margin: auto;
        .elements {
            justify-content: space-between;
        }
    }
}
.container{
    margin: auto;
    max-width: 1100px;
}

.formInput {
    width: 100%;
    height: 40px;
}

input[type="submit"]{
    background: v.$buttonColor;
    color: white;
    font-weight: bold;
}

#sectionWelcome, #sectionLeave{
    display: flex;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    height: 40vh;
    .wrapper {
        background-color: v.$colorGreyfaded;
        hr {
            width: 100px;
            border: solid 2px orange;
        }
        h1 {
            font-size: v.$fontSizeTitle;
            padding: 1rem;
        }
        }
    }


#sectionWelcome{
    background-image: url(../img/Lille-Seminaires.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#sectionLeave {
    background-image: url(../img/Lille-Hall.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
