@use "reset";
@use "variables" as v;
@use "mixin" as m;

// Header // 
header {
    background: v.$backgroundHeaderColor;
    .container{
        margin: auto;
    }
        nav {
            width: 100%;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
                img {
                    width: 150px;
                }
                ul {
                    display: flex;
                    li {
                    margin: 0 0.2rem;
                    list-style-type: none;
                    font-size: v.$fontSizedefault;
                    a {
                    text-decoration: none;
                    }
                    }
                }
            }
}

header{
    background: v.$backgroundHeaderColor;
    .container{
        margin: auto;
        .elements {
            justify-content: space-between;
        }
    }
}

// Container sur tout les éléments //
.container{
    margin: auto;
    max-width: 25rem;
}

// Taille des inputs 
.formInput {
    width: 100%;
    height: 40px;
}

.submitButton{
    background: v.$buttonColor;
    color: white;
    font-weight: bold;
}
label{
    font-size: v.$fontSizeSmall;
}

// Les deux sections avec une image 

#sectionWelcome, #sectionLeave{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    height: 40vh;
    font-size: v.$fontSizeTitle;

    .wrapper {
        background-color: v.$colorGreyfaded;
        padding:1rem;       
        hr {
            width: 100px;
            border: solid 2px orange;
        }
        h1 {
            font-size: v.$fontSizeTitle;
        }
        }
    }


#sectionWelcome{
    background-image: url(../img/Lille-Seminaires.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#sectionLeave {
    background-image: url(../img/Lille-Hall.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// Les sections avec des inputs 
#sectionForm, #sectionSearch{

    background-color: v.$backgroundMainColor;
    .wrapper{
        margin: 1rem 0;
    }
    .wrappers{
        margin: 1rem;
    }
}

// La derniere section qui s'affiche lorsqu'on clique sur rechercher
#sectionFacture{
    justify-content: center;
    align-items: center;
    background: v.$buttonColor;
    height: 150px;
    p{
        margin: 0;
    }
}

.display-none{
    display: none;
}

.display-flex{
    display: flex;
}

// Responsive
@media screen and (min-width : 997px){
    .container{
       max-width: 1400px;

    }
    #sectionForm, #sectionSearch{
        background-color: white;
        .container{
            background-color: v.$backgroundMainColor;
        }
    }
    #sectionForm .wrappers, #sectionSearch .wrappers{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .wrapper{
            padding: 0 0.5rem;
        }
    }
}
   